/aclocal.m4
/autom4te.cache/
/autoscan.log
/compile
/config.*
/configure.scan
/depcomp
/.deps/
/gengo
/gengo.plist/
/gengo.t2t
#the next are unique to gengo, generated at init stage
/codeTXT.c
/declTXT.h
/defltTXT.c
/helpTXT.h
/noargsTXT.c
#end of specials
/install-sh
/Makefile
/Makefile.in
/Makefile.gdb
/missing
/stamp-h1
/test*
/syncbp.sh
/Test/*
